<footer>
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <p class="copyright">
                    &copy; Smarts. All rights reserved.
                </p>
                <p class="copyright">
                    &copy; Seth Loh. GA Student <a href="https://github.com/lackdaz" target="_blank"> Github</a>
                </p>
                <p class="copyright">
                    &copy; Maxim Theme. All rights reserved.
                    <div class="credits">
                        <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by BootstrapMade.com
                    </div>
                </p>
            </div>
        </div>
    </div>
    <!-- ./container -->
</footer>
