<%if (authenticated) { %>

 <%# <!-- navbar -->
<aside>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
				<li><a href="/things">Your Things</a></li>
				<li><a href="/observe">Observe</a></li>
				<li><a href="/control">Control</a></li>
				<li><a href="/automate">Automate</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/settings">Settings</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
</aside>%>

<!-- Navigation -->
<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/dashboard">Thingies Dashboard</a>
		<div class="collapse navbar-collapse" id="navbarExample">
				<ul class="sidebar-nav navbar-nav">
						<li class="nav-item active">
								<a class="nav-link" href="#"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
						</li>
						<li class="nav-item">
								<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents2"><i class="fa fa-fw fa-weibo"></i>Things</a>
								<ul class="sidebar-second-level collapse" id="collapseComponents2">
									<li>
											<a href="/things">Your Things</a>
									</li>
										<li>
												<a href="/things/new">New Thing</a>
										</li>
										<li>
												<a href="/things/user/new">New User</a>
										</li>
								</ul>
						</li>
						<li class="nav-item">
								<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"><i class="fa fa-fw fa-eye"></i>Observe</a>
								<ul class="sidebar-second-level collapse" id="collapseComponents">
									<li>
											<a href="/events">Events</a>
									</li>
										<li>
												<a href="/users">Users</a>
										</li>
										<%# <li>
												<a href="/things/user/new">New User</a>
										</li>%>
								</ul>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="/mqtt/control"><i class="fa fa-fw fa-table"></i> Control</a>
						</li>

						<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-fw fa-android"></i> Automate</a>
						</li>


						<li class="nav-item">
								<a class="nav-link" href="/settings"><i class="fa fa-fw fa-wrench"></i> Settings</a>
						</li>

						<li class="nav-item">
								<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"><i class="fa fa-fw fa-phone"></i> Contact Us!</a>
								<ul class="sidebar-second-level collapse" id="collapseMulti">
										<li>
												<a href="https://github.com/lackdaz/wdi-project-2">GitHub</a>
										</li>
										<li>
												<a href="https://github.com/lackdaz/wdi-project-2/issues">Submit Issue</a>
										</li>
										<%# <li>
												<a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
												<ul class="sidebar-third-level collapse" id="collapseMulti2">
														<li>
																<a href="#">Third Level Item</a>
														</li>
														<li>
																<a href="#">Third Level Item</a>
														</li>
												</ul>
										</li>%>
								</ul>
						</li>
				</ul>

<%# seriously pimped up headers%>
				<ul class="navbar-nav ml-auto">
						<li class="nav-item">
								<a class="nav-link" href="/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
						</li>
				</ul>
		</div>
</nav>

<% } %>
