 <!-- navbar -->
<aside>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
				<li><a href="/things">Your Things</a></li>
				<li><a href="/observe">Observe</a></li>
				<li><a href="/control">Control</a></li>
				<li><a href="/automate">Automate</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/settings">Settings</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
</aside>
