<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
<h1>DASHBOARD</h1>
<h2>Observe. Control. Automate</h2>
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
