<div class="row">

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-primary o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-unlock"></i>
                </div>
                <div class="mr-5">
                    <p><strong>Open</strong>
                    </p>
                </div>
            </div>
            <a href="/mqtt/open" class="card-footer clearfix small z-1">
                <span class="float-left">Open</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
            <a href="/mqtt/open/5" class="card-footer clearfix small z-1">
                <span class="float-left">For 5 seconds</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-success o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-lock"></i>
                </div>
                <div class="mr-5">
                  <p><strong>Lock</strong>
                  </p>                </div>
            </div>
            <a href="/mqtt/lock" class="card-footer clearfix small z-1">
                <span class="float-left">Lock</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
            <a href="/mqtt/superlock" class="card-footer clearfix small z-1">
                <span class="float-left">Prevent All Access</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
